body{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#p2{
  margin: 20px;
  display:block;
  background-color: blue;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}
#p3{
  display: block;
  background-color: red;
  padding: 15px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}
#p4{
  color: blue;
  display: inline;
}
#p5{
  color: orange;
  display: inline;
}
#p6{
  display: inline-block;
  background-color: green;
  padding-bottom: 30px;
  border-width: 2px;
  border-style: solid;
  width: 200px;
}