#text-content {width: 1000px;}
body{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    background-image: url("https://picsum.photos/500/200");
    background-repeat: no-repeat;
    background-size: 100%;
    /*width: 100%;*/
    height: 200px;
}
.header h1{
    color: white;
    text-align: center;
    position: relative;
    top: 75px;
}
.footer{
    background-color: black;
    height: 200px;
    color: #ffffff;
    margin-top: 35px;
}
#img1{
    background-image: url("https://picsum.photos/200/300");
    width: 200px;
    height: 300px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 7px;
}
#img2{
    background-image: url("https://picsum.photos/100/300");
    width: 100px;
    height: 300px;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}
#footer1{
    /*float:left;*/
    display: inline-block;
    height: 200px;
    width: 250px;
    position: relative;
    bottom: 120px;
    text-align: center;
}
#lorem{
    display: inline-block;
    text-align: center;
    height: 200px;
    width: 375px;
    font-size: 14px;
}
#contact{
    display: inline-block;
    /*float:right;*/
    height: 200px;
    width: 250px;
    position: relative;
    bottom: 120px;
    text-align: center;
}
